page-login {
<<<<<<< HEAD
   

ion-row{
    text-align: center
}
.des{
    height:400px
}
.logo p{
    font-size: 2em;
=======
.login{
    margin-top: 300px;
    text-align: center;
    
}
.signup{
    text-align: center
}
ion-title{
    text-align: center
>>>>>>> d802e4fb63b16a94eafb061d993cf9bbeb481312
}
}
